:root {
    --font-fjalla: 'Fjalla One', sans-serif;
    --font-sansPro: 'Source Sans Pro', sans-serif;
    --gris-oscuro: #1d252c;
    --gris-claro: #626262;
    --bcg-gris: #1b2127;
    --celeste: #026fff;
    --blanco-suave: #f4fbff;
    --gris-blanco: #fafafa;
    --dorado: #fce69a;
    --dorado-suave: #f8eab8;
}

body {
    font-family: var(--font-sansPro), sans-serif;
    margin: 0;
    background-color: var(--dorado-suave);
}

ol,
ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

figure {
    margin: 0;
}

h1,
h3,
h4,
h5,
h6 {
    font-family: var(--font-fjalla), sans-serif;
}

h1 {
    font-size: 40px;
    line-height: 1.5em;
    letter-spacing: -.2px;
    color: #FFF;
    margin: 0;
    text-shadow: 4px 4px 3px rgb(124, 113, 113);
}

h1 strong {
    color: var(--dorado);
}

h2 {
    color: var(--celeste);
    text-transform: uppercase;
    font-family: var(--font-sansPro);
    font-weight: bold;
    font-size: 2em;
    margin-bottom: 40px;
    text-shadow: 1px 2px 1px #000;
}

.header {
    background: #1B2127;
    background: -webkit-linear-gradient(to top, #1B2127 0%, #F8EAB8 100%);
    background: -moz-linear-gradient(to top, #1B2127 0%, #F8EAB8 100%);
    background: linear-gradient(to top, #1B2127 0%, #F8EAB8 100%);  
    display: grid;
    grid-template-columns: 5% auto;
    justify-content: space-between;
}

.menu {
    height: inherit;
    display: grid;
}

.header ol {
    display: grid;
    grid-template-columns: 120px 120px 250px;
    height: inherit;
}

.header li {
    margin: auto;
}

.header a {
    color: var(--gris-blanco);
    font-size: 1.2em;
    text-decoration: none;
    margin: auto .8em;
    display: flex;
    align-items: center;
    /* text-shadow: 1px 1px 0px #FFFFFF; */
    border-radius: 10px;
    /* border: 1px solid var(--gris-claro); */
    padding: .5em 15px;
    background: linear-gradient(90deg, white, orange, yellow, rgb(168, 168, 211));
    background-clip: text;
    -webkit-background-clip: text;
    box-shadow: 2px 1px 3px 2px black;
}
.header a:hover {
    color: transparent;
    border: none;
    box-shadow: none;
    transition: 500ms ease;
}

.header-imgLogo {
    height: 100px;
}

.hero {
    height: 300px;
    /* background-image: url("../images/hero.jpg"); */
    background-color: var(--bcg-gris);
    /* background-size: 500px 300px;
    background-repeat: no-repeat;
    background-position-x: right; */
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.hero-image {
    object-fit: cover;
    border-radius: 5px;
    /* margin-bottom: 10px; */
    box-shadow: 4px 4px 10px 2px #776D6D;
}

.portfolio {
    background-color: var(--dorado-suave);
    background: #1B2127;
    background: -webkit-linear-gradient(to bottom, #1B2127 0%, #F8EAB8 100%);
    background: -moz-linear-gradient(to bottom, #1B2127 0%, #F8EAB8 100%);
    background: linear-gradient(to bottom, #1B2127 0%, #F8EAB8 100%);
    padding: 20px;
}

.project {
    border: 1px solid gray;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 1px rgba(128, 0, 0, 0.5);
    margin-bottom: 15px;
    padding: 20px;
    background-color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.project strong {
    font-family: var(--font-fjalla), sans-serif
}

.project-title {
    font-size: 1.8em;
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;  
}

.project-url a {
    text-decoration: none;
    font-family: var(--font-fjalla);
    color: coral;
    padding-left: 5px;
    background: linear-gradient(90deg, red, orange, rgb(151, 151, 17), green, blue, purple);
    background-clip: text;
    -webkit-background-clip: text;
}
.project-url a:hover {
    color: transparent;
    transition: 500ms ease;
}
.project-course,
.project-date,
.project-url {
    margin: 10px 0;
    
}

.project-course {
    font-size: 1.5em;
    text-align: center;
}

.project-description {
    font-size: 25px;
}

.project-details {
    width: 500px;
}

.project-imageContainer {
    width: 500px;
}

.project-image {
    border-radius: 5px;
    box-shadow: 1px 1px 5px black;
    object-fit: cover;
}

.event-title {
    font-size: 1.5em;
    text-shadow: 1px 2px 1px rgb(124, 113, 113);
    margin: .5em;
}

.event-list {
    display: flex;
    flex-wrap: wrap;
}

/* Elementos solos al final */
.event.event-alone {
    margin: 0 auto;
}

.event-list-title {
    margin-left: 20px;
}

.event {
    margin: 10px;
    width: 480px;
    flex-shrink: 0;
    border-radius: 10px;
    overflow: hidden;
    background-color: #eeeadc;
    box-shadow: 3px 3px 3px 1px rgba(128, 0, 0, 0.5);
}

.event img {
    width: 480px;
    height: 200px;
    /* Evita que la imagen se distorsione */
    object-fit: cover;
}

.event-image.css {
    object-fit: contain;
}

.event-detail {
    margin: 20px 40px;
    margin-top: -40px;
    padding: 20px;
    background-color: rgb(232, 232, 232);
    box-shadow: 2px 2px 5px 0px rgba(128, 0, 0, 0.6);
    position: relative;
    text-align: center;
    border-radius: 5px;
}

.event-description {
    text-align: center;
}

.event-url {
    background: linear-gradient(90deg, red, orange, green, black);
    background-clip: text;
    -webkit-background-clip: text;
    border: 1px solid var(--gris-claro);
    padding: 5px 20px;
    text-decoration: none;
    color: #2668b4;
    border-radius: 5px;
    box-shadow: 0 4px 4px 0 rgba(0,0,0,0.2), 0 6px 9px 0 rgba(0,0,0,0.19);
}
.event-url:hover {
    color: transparent;
    transition: 500ms ease;
}
.footer {
    background-color: var(--bcg-gris);
    color: #FFF;
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}

.footer a {
    color: #FFF;
    background: linear-gradient(90deg, red, orange, yellow, rgb(13, 223, 13), rgb(170, 170, 204), rgb(248, 248, 248));
    background-clip: text;
    -webkit-background-clip: text;
}
.footer a:hover {
    color: transparent;
    transition: 500ms ease;
}

.footer-imgPlatzi {
    width: 5em;
    vertical-align: middle;
}

.contact {
    background: #F8EAB8;
    background: -webkit-linear-gradient(to bottom, #F8EAB8 0%, #1B2127 100%);
    background: -moz-linear-gradient(to bottom, #F8EAB8 0%, #1B2127 100%);
    background: linear-gradient(to bottom, #F8EAB8 0%, #1B2127 100%);
    color: var(--gris-blanco);
    margin-top: 10px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.social-link {
    display: inline-block;
    width: 50px;
    height: 50px;
    margin: 0 10px;
    background-size: 50px 50px;
}

.social-link.twitter {
    background-image: url('../images/twitter.svg');
}

.social-link.facebook {
    background-image: url('../images/facebook.svg');
}

.social-link.github {
    background-image: url('../images/github.svg');
}

.social-link.instagram {
    background-image: url('../images/instagram.svg');
}

.social-link.linkedin {
    background-image: url('../images/linkedin.svg');
}

/* .form-email input{
    border-color: var(--gris-oscuro);
    border-style: solid;
    border-radius: 5px;
    padding: 10px 20px 12px 25px;
    background-image: url('../images/envelope.svg');
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 5px;
}

.form-email button {
    display: block;
    background: transparent;
    color: var(--celeste);
    padding: 10px 0;
    border-radius: 5px;
    margin-top: 5px;
    width: 100px;
    margin-bottom: 10px; 
    font-weight: bold;   
    letter-spacing: .7px;
    border: 1px solid rgba(0, 0, 0, 0.685);
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
} */

.contact h3 {
    font-family: var(--font-fjalla);
    text-shadow: 1px 3px 4px #867947;
    letter-spacing: .5px;
    text-align: center;
}

.container {
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    display: inherit;
    justify-content: inherit;
    align-items: inherit;
    height: inherit;
    flex-wrap: inherit;
}

/* Páginas de certificados */

.header.cert-header {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-template-areas: "logo menu";
}
.header.cert-header a {
    width: 100%;
}
.cert-header {
    background-color: var(--bcg-gris);
    height: auto;
    justify-content: center;
}
.cert-menu {
    display: grid;
    grid-area: menu;
    justify-items: center;
}
.cert-header-imgLogo {
    grid-area: logo;
    height: 10em;
}

.cert-container {
    /* padding-top: 50px;
    padding-bottom: 25px; */
    padding-bottom: 1em;
    background-color: var(--bcg-gris);
    display: grid;
    grid-template-columns: repeat(2, 50%);
    gap: 10px;
    justify-items: center;
    align-items: center;
}
img.cert-image.cert-alone:last-child {
    width: 40%;
    grid-column: span 2;
}

.cert-image {
    width: 80%;
}


.cert-contact {
    background: #F8EAB8;
    background: -webkit-linear-gradient(to top, #F8EAB8 0%, #1B2127 100%);
    background: -moz-linear-gradient(to top, #F8EAB8 0%, #1B2127 100%);
    background: linear-gradient(to top, #F8EAB8 0%, #1B2127 100%);
    color: var(--gris-blanco);
    padding: .5em;
    display: grid;
    align-items: center;
    justify-content: center;
    text-align: center;
}
form.form-email h3{
    padding: 0;
    margin: .5em;
}

@media screen and (max-width: 1024px) {

    h1 {
        font-size: 2em;
        padding-left: .5em;
    }

    h2 {
        text-align: center;
        margin-left: 0;
    }

    .hero-image{
        margin: 10px 10px;
        box-shadow: none;
        object-fit: cover;
    }

    .event-list-title {
        text-align: center;
        margin-left: 0;
    }
    
    .logo {
        text-align: center;
    }

    .project {
        width: 85%;
        margin: 10px auto;
    }

    .project-description {
        font-size: 20px;
    }
    .project-imageContainer {
        width: 50%;        
    }
    .project-image {
        display: flex;
        margin: 0 auto;
        box-shadow: none;
        width: 30vw;
    }
    .project-details {
        width: 50%;
    }
    .event-list {
        display: block;
    }
    .event {
        margin: 10px auto;
    }
    .contact {
        display: block;
        height: auto;
        padding: 1em 0;
    }
    /* .form-email {
        width: 49%;
    }
    .form-email h3 {
        text-align: center;
    }
    .form-email button {
        margin: 5px auto;
    }
    .form-email #email {
        display: block;
        margin: 0 auto;
    } */
    .social {
        text-align: center;
        margin: 0 auto;
    }
}
@media screen and (max-width: 767px) {
    h1 {
        padding: .5em;
    }   
    img.cert-image:last-child {
        width: 95%;
    }
    .header a {
        font-size: 1em;
    }
    .header ol {
        grid-template-columns: 100px 100px 205px;
    }
    .cert-header {
        height: auto;
    }

    .cert-container {
        display: block;
        padding: 0;
        text-align: center;
    }
    .cert-image{
        width: 95%;
    }
    
}
@media screen and (max-width: 480px) {

    h1 {
        text-align: center;
        /* background-image: url(../images/computer.jpg); */
        background-position: center;
        background-size: cover;
        text-shadow: 1px 2px 1px #000;
        z-index: 2;
    }
    .header.cert-header {
        display: grid;
        grid-template-columns: 100%;
        grid-template-areas: "logo"
                            "menu";
        justify-content: center;
    }
    .header {
        display: block;
        height: auto;
        text-align: center;
    }
    /* .cert-header {
        display: block;
        height: auto;
        text-align: center;
    } */
    .header a,
    .header ol {
        display: block;
        padding: 1em;
        border: none;
        box-shadow: none;
    }
    .menu {
        margin: 0;
        height: auto;
        text-align: center;
    }

    .hero {
        /* flex-wrap: wrap; */
        position: relative;        
    }
    .hero-image {
        /* display: none; */
        width: 100%;
        margin: 0;
        position: absolute;
        z-index: 1;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }
    .project {
        display: block;
    }
    .project-details,
    .project-imageContainer {
        width: 100%;
    }
    .project-image {
        width: 90%;
    }
    .event {        
        width: 96%;
    }

    .event-image.css {
        width: 100%;
    }
    img.cert-image.cert-alone:last-child {
        width: 95%;
    }
    /* .contact {
        display: block;
        height: auto;
        padding: 1em 0;
    } */
    .cert-contact {
        display: block;
        height: auto;
    }
    .cert-contact h3 {
        margin: 0 auto;
        padding: 1em;
    }
    /* .form-email {
        width: 100%;
        margin-bottom: 10px;
    } */
    .social {
        width: auto;
        text-align: center;
    }
    .social.cert-social {
        padding: 0;
    }
    .footer {
        font-size: 0.8em;
    }
}
@media screen and (max-width: 320px) {
    /* .header {
        display: block;
        height: auto;
    } */
    .header a {
        display: block;
    }
    .header ol {
        display: initial;
    }
    .cert-header {
        display: block;
        height: auto;
    }
    .header-imgLogo {
        margin: 0 auto;
    }
    .menu ol li {
        padding: 1em;
    }
    .logo {
        text-align: center;
    }
    .cert-contact {
        display: grid;
        grid-template-columns: repeat(3, 30%);
    }
    .footer {
        font-size: 0.6em;
    }
}
